@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap");
html,
* {
  font-family: "Fuzzy Bubbles", cursive;
}
#homeBtn {
  background-color: #126eed;
}
.navbar {
  background-color: #f4a261;
}

.big-text {
  color: #264653;
}
.navbar-brand {
  font-size: 3rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
  font-size: larger;
}

.logo {
  width: 3.5rem;
  margin: 0 0.5rem 0.3rem 0;
  filter: drop-shadow(0 3px 1px rgba(0, 0, 0, 0.576));
}

.big-logo {
  width: 20rem;
  filter: drop-shadow(0 7px 1px rgba(0, 0, 0, 0.576));
  transition: transform 0.3s;
  animation: fadeInRight 0.5s ease-in-out;
}

.big-logo:hover {
  transform: scale(1.2);
  transition: transform 0.7s;
}
.login {
  width: 50rem;
  animation: fadeInRight 0.5s ease-in-out;
}

.leftDiv {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f4a261;
}

.rightDivScreenFit {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #f4a261;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  font-weight: 500;
  font-size: larger;
}

.logo {
  width: 3.7rem;
  margin: 0 0.5rem 0.3rem 0;
  filter: drop-shadow(0 3px 1px rgba(0, 0, 0, 0.576));
}

.big-logo {
  width: 15rem;
  filter: drop-shadow(0 7px 1px rgba(0, 0, 0, 0.576));
  transition: transform 0.3s;
  animation: fadeInRight 0.5s ease-in-out;
}

.big-logo:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.name {
  color: #f4a261;
}

.name:hover {
  color: #bc9000;
}

.bizName {
  filter: drop-shadow(0 3px 1px rgba(0, 0, 0, 0.576));
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.5;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 1.5;
}

.content {
  padding: 3% 16%;
}

.image {
  width: 30rem;
  padding-bottom: 10px;
  animation: fadeInRight 0.5s ease-in-out;
}

#features {
  padding: 0 15%;
}

.feature-box {
  text-align: center;
  padding: 4%;
}

.icon,
.socials {
  margin-top: 1rem;
  color: #f4a261;
}

.icon:hover,
.socials:hover {
  color: #ffd036;
  transform: scale(1.2);
  transition: transform 0.5s;
}

a {
  text-decoration: none;
  font-weight: 100;
}

.nav-link:hover {
  color: #126eed !important;
}

.link {
  color: #264653;
  font-weight: bold;
}

.homeBtn {
  width: 10rem;
}

.logo-img {
  margin: 5px;
}

.card {
  width: 100%;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.14);
  transition: transform 0.2s;
}

.bizCard {
  width: 28rem;
  height: 35rem;
}

.allCards {
  display: flex;
  margin: 0 0 0 1rem;
  gap: 1.3rem;
  animation: fadeInRight 0.5s ease-in-out;
}

.card-img-top {
  height: 15rem;
  width: 100%;
  object-fit: contain;
  margin: 1.5rem 0 0 0.5rem !important;
}

.card:hover {
  z-index: 5;
  transform: scale(1.01);
  transition: transform 0.1s;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: black;
  color: white;
}

.center,
.button,
.form-check {
  display: flex;
  justify-content: center;
}
.containerDiv {
  margin: 0 auto;
  width: 30rem;
  height: 28rem;
  background: white;
  border-radius: 3px;
  position: relative;
}
.information {
  text-align: center;
}
.avatar {
  margin: 0 auto;
  margin: -70px auto 15px;
  display: block;
}
.name {
  font-size: 20px;
  font-weight: bold;
}
.position {
  font-size: 16px;
  color: #8c98a8;
  margin-bottom: 24px;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 991px) {
  span {
    color: #264653;
  }

  .leftDiv {
    display: none;
  }

  .bizCard {
    width: 100%;
    height: 100%;
  }

  .containerDiv {
    width: 90%;
    height: 25.5rem;
  }

  ._AllCards {
    width: 100% !important;
  }
}
